<div layout="column">
	<div layout="row">
		<h4>Listing projects</h4>
		<div flex></div>
		<div bm-project layout="column" layout-align="center" class="cursor-pointer">
			<md-tooltip>Add project</md-tooltip>
			<md-icon class="material-icons">add</md-icon>
		</div>
	</div>
	<bm-project-item ng-repeat="project in projects">
	</bm-project-item>
	<!-- TODO loading state -->
	<div ng-if="!projects || projects.length == 0">
		<h3>No projects added yet</h3>
	</div>
</div>