<div layout="column" class="applicant-item md-whiteframe-1dp is-relative">
	<md-button ng-click="expand()"
		class="md-button is-absolute md-fab md-mini top-right-corner">
		<md-icon ng-if="applicant.showMore" class="material-icons">
			<md-tooltip>Hide CV</md-tooltip>
			expand_less
		</md-icon>
		<md-icon ng-if="!applicant.showMore" class="material-icons">
			<md-tooltip>Show CV</md-tooltip>
			expand_more
		</md-icon>
	</md-button>
	<div class="is-absolute top-0 left-0 skill-match cursor-pointer">
		<md-progress-linear
			ng-if="applicant.matchPercentage"
			ng-class="{'md-primary': applicant.matchPercentage >= 50, 'md-warn': applicant.matchPercentage < 50}"
			md-mode="determinate"
			value="{{applicant.matchPercentage}}">
		</md-progress-linear>
		<md-tooltip>
			{{applicant.matchPercentage > 0? 'Skill match by '+applicant.matchPercentage + "%" : 'No skill match'}}
		</md-tooltip>
	</div>
	<div class="applicant-name">
		{{applicant.name}}
	</div>
	<div class="meta">
		{{applicant.industry.name}} Industry
	</div>
	<div class="meta">
		{{applicant.experience}} years of experience
	</div>
	<md-chips class="view-skills" ng-model="applicant.skills" readonly="true">
		<md-chip-template>
	    	<strong class="captilize font-weight-normal">{{$chip.name}}</strong>
	    </md-chip-template>
	</md-chips>
	<div ng-if="applicant.showMore">
		{{applicant.cv}}
	</div>
</div>