<div
	layout="column"
	class="project-item md-whiteframe-1dp"
	ng-class="{'project-active': showMore}"
	>
	<div layout="column" class="is-relative">
		<md-button ng-click="expand()"
			class="md-button is-absolute md-fab md-mini top-right-corner">
			<md-icon ng-if="showMore" class="material-icons">
				<md-tooltip>Hide</md-tooltip>
				expand_less
			</md-icon>
			<md-icon ng-if="!showMore" class="material-icons">
				<md-tooltip>Show more info</md-tooltip>
				expand_more
			</md-icon>
		</md-button>
		<div class="project-name captilize">{{project.name}}</div>
		<div class="meta captilize">
			{{project.industry.name}} industry
		</div>
		<div class="meta captilize">
			{{project.reqExperience}} years experience required
		</div>
		<md-chips class="view-skills" ng-model="project.skills" readonly="true">
			<md-chip-template>
	          <strong class="captilize font-weight-normal">{{$chip.name}}</strong>
	        </md-chip-template>
		</md-chips>

	</div>
	<md-tabs class="more-info" ng-if="showMore" md-dynamic-height>
		<md-tab>
			<md-tab-label>
				<div class="captilize">Description</div>
			</md-tab-label>
			<md-tab-body>
				<div class="project-description">
					{{project.description}}
				</div>
			</md-tab-body>
		</md-tab>
		<md-tab md-on-select="listMatchingParticipants()">
			<md-tab-label>
				<div class="captilize" layout="row">
					<div>Suggested Applicants</div>
					&nbsp;
					<md-progress-circular 
						ng-if="loadingParticipants"
						md-diameter="20"
						md-mode="indeterminate">
					</md-progress-circular>
				</div>
			</md-tab-label>
			<md-tab-body>
				<bm-matching-applicant
					ng-repeat="applicant in project.matchingApplicants | orderBy:'-applicant.priority'">
				</bm-matching-applicant>
				<!-- TODO: add loading state -->
				<div layout="column" class="project-description" ng-if="!project.matchingApplicants || project.matchingApplicants.length == 0">
					<h3>
					No suggestions found for this project
					</h3>
					<div class="meta">
					No experts found with matching skills or cv.
					</div>

				</div>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</div>