<div layout="column">
	<div layout="row">
		<h4>Listing applicants</h4>
		<div flex></div>
		<div bm-applicant layout="column" layout-align="center" class="cursor-pointer">
			<md-tooltip>Add applicant</md-tooltip>
			<md-icon class="material-icons">add</md-icon>
		</div>
	</div>
	<bm-matching-applicant ng-repeat="applicant in applicants">
	</bm-matching-applicant>
	<!-- TODO loading state -->
	<h3 ng-if="!applicants || applicants.length == 0">
		No applicants added yet.
	</h3>
</div>