
.applicant-item {
	padding: 10px;
    margin-top: 5px;
    background: white;
}

.applicant-name {
	font-size: 2em;
	font-weight: bold;
}

.meta {
	font-size: 1em;
	opacity: 0.6;
}

.applicant-description {
	margin-top: 0.5em;
	font-size: 1em;
	padding: 1em;
}

.skill-match {
	height: 10px;
	width: 100%
}

.skill-match * {
	height: 10px !important;
}