
.project-item {
	padding: 10px;
    margin-bottom: 5px;
    background: white;
}

.project-name {
	font-size: 2em;
	font-weight: bold;
}

.meta {
	font-size: 1em;
	opacity: 0.6;
}

.project-active {
	background-color: #ddd !important;
}

.project-item md-tabs-wrapper {
	background-color: white;
}

.project-description {
	font-size: 1em;
	padding: 1em;
	background-color: white;
}

