body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .content {
	padding: 10px 50px;
}

a {
  color: #00B7FF;
}

.md-fab {
	background: white !important;
}

.md-fab > * {
	color: black !important;
}


.captilize {
	text-transform: capitalize;
}

.font-weight-normal {
	font-weight: normal !important;
}

.top-right-corner {
	top: 0px;
	right: 0px;
}

.is-relative {
	position: relative;
}

.is-absolute {
	position: absolute;
}

.top-0 {
	top: 0px;
}

.left-0 {
	left: 0px;
}


md-chip {
	border-radius: 5px !important;
}

.view-skills md-chips-wrap {
	box-shadow: none !important;
}

.more-info.ng-enter,
.more-info.ng-leave {
  -webkit-transition: opacity ease-in-out 0.5s;
  -moz-transition: opacity ease-in-out 0.5s;
  -ms-transition: opacity ease-in-out 0.5s;
  -o-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}
.more-info.ng-enter,
.more-info.ng-leave.ng-leave-active {
  	opacity: 0;
}
.more-info.ng-leave,
.more-info.ng-enter.ng-enter-active {
  	opacity: 1;
}

.cursor-pointer {
	cursor: pointer;
}

md-toolbar {
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.height-90 {
	height: 90%;
}

md-dialog {
	background-color: rgb(250,250,250);
}

.form-card {
	background-color: white;
	padding: 40px;
}

.form-card .label{
	font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    color: grey;
}

.form-card .meta {
 	margin-bottom: 0.5em !important;
    font-size: 1em !important;
}

.form-card input {
	border-radius: 3px;
    box-shadow: none; 
    border-width: 0.5px;
    padding: 5px;
    outline: none !important; 
}

.color-red {
	color: red;
}