<md-dialog flex="60" class="height-90" aria-label="Create Project">
	<form name="projectCreate">
		<md-toolbar>
	      <div class="md-toolbar-tools">
	      	Create new project
	      </div>
	    </md-toolbar>
		<md-dialog-content>
			<div layout="column" class="form-card">
				<div class="label">Name</div>
				<div class="meta">We recommend a short catchy title for your project name</div>
				<input type="text" ng-model="project.name"
					name="name" autocomplete="off" required/>
				<div ng-messages="projectCreate.name.$dirty && projectCreate.name.$error">
	            	<div ng-message="required" class="color-red">
	            		Name cant be empty.
	            	</div>
	            </div>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Description</div>
				<div class="meta">Add as many details as possible</div>
				<textarea type="text" rows="4" ng-model="project.description" required name="description">
				</textarea>
				<div ng-messages="projectCreate.description.$dirty && projectCreate.description.$error">
	            	<div ng-message="required" class="color-red">
	            		Description cant be empty.
	            	</div>
	            </div>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Required Experience</div>
				<div class="meta">Experience is in years</div>
				<input type="number" ng-model="project.reqExperience"
					name="reqExperience" required min="0" />
				<div ng-messages="projectCreate.reqExperience.$dirty && projectCreate.reqExperience.$error">
	            	<div ng-message="required" class="color-red">
	            		Experience cant be empty.
	            	</div>
	            	<div ng-message="min" class="color-red">
	            		Experience cant be less than 0.
	            	</div>
	            </div>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Industry</div>
				<div class="meta">What's the industry?</div>
				<md-autocomplete ng-required
					md-selected-item="project.industry"
					md-search-text="indText"
					md-items="item in searchIndustry(indText)"
					md-item-text="item.name">
					<md-item-template>
				  		<span md-highlight-text="indText">{{item.name}}</span>
				  	</md-item-template>
				  	<md-not-found>
					    No matches found.
					</md-not-found>
				</md-autocomplete>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Skills</div>
				<div class="meta">
					Skills you add help us suggest experts, please be very specific.
				</div>
				<md-chips ng-required ng-model="project.skills">
			      <md-autocomplete
			          md-search-text="searchText"
			          md-items="item in searchSkill(searchText)"
			          md-no-cache>
			        <span md-highlight-text="searchText">{{item.name}}</span>
			      </md-autocomplete>
			      <md-chip-template>
			        <span>
			          <strong>{{$chip.name}}</strong>
			        </span>
			      </md-chip-template>
			    </md-chips>
			</div>
	  	</md-dialog-content>
		<md-dialog-actions>
	    	<md-button ng-disabled="!projectCreate.$valid" ng-click="save()" class="md-primary">Save</md-button>
	    	<md-button ng-click="close()" class="md-accent">Close</md-button>
	  	</md-dialog-actions>
  	</form>
</md-dialog>