<md-dialog flex="60" class="height-90" aria-label="Create Applicant">
	<form name="applicantCreate">
		<md-toolbar>
	      <div class="md-toolbar-tools">
	      	Create new applicant
	      </div>
	    </md-toolbar>
		<md-dialog-content>
			<div layout="column" class="form-card">
				<div class="label">Name</div>
				<div class="meta">Type in your full name</div>
				<input type="text" ng-model="applicant.name"
					name="name" autocomplete="off" required/>
				<div ng-messages="applicantCreate.name.$dirty && applicantCreate.name.$error">
	            	<div ng-message="required" class="color-red">
	            		Name cant be empty.
	            	</div>
	            </div>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Resume</div>
				<div class="meta">Type in your resume</div>
				<textarea type="text" rows="4" ng-model="applicant.cv" required name="cv">
				</textarea>
				<div ng-messages="applicantCreate.cv.$dirty && applicantCreate.cv.$error">
	            	<div ng-message="required" class="color-red">
	            		Resume cant be empty.
	            	</div>
	            </div>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Experience</div>
				<div class="meta">Experience is in years</div>
				<input type="number" ng-model="applicant.experience"
					name="experience" required min="0" />
				<div ng-messages="applicantCreate.experience.$dirty && applicantCreate.experience.$error">
	            	<div ng-message="required" class="color-red">
	            		Experience cant be empty.
	            	</div>
	            	<div ng-message="min" class="color-red">
	            		Experience cant be less than 0.
	            	</div>
	            </div>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Industry</div>
				<div class="meta">Which industry do you belong?</div>
				<md-autocomplete ng-required="true"
					md-selected-item="applicant.industry"
					md-search-text="indText"
					md-items="item in searchIndustry(indText)"
					md-item-text="item.name">
					<md-item-template>
				  		<span md-highlight-text="indText">{{item.name}}</span>
				  	</md-item-template>
				  	<md-not-found>
					    No matches found.
					</md-not-found>
				</md-autocomplete>
			</div>
			<div layout="column" class="form-card">
				<div class="label">Skills</div>
				<div class="meta">
					All added skills will be used to suggest projects.
				</div>
				<md-chips ng-required="true" ng-model="applicant.skills">
			      <md-autocomplete
			          md-search-text="searchText"
			          md-items="item in searchSkill(searchText)"
			          md-no-cache>
			        <span md-highlight-text="searchText">{{item.name}}</span>
			      </md-autocomplete>
			      <md-chip-template>
			        <span>
			          <strong>{{$chip.name}}</strong>
			        </span>
			      </md-chip-template>
			    </md-chips>
			</div>
	  	</md-dialog-content>
		<md-dialog-actions>
	    	<md-button ng-disabled="!applicantCreate.$valid" ng-click="save()" class="md-primary">Save</md-button>
	    	<md-button ng-click="close()" class="md-accent">Close</md-button>
	  	</md-dialog-actions>
  	</form>
</md-dialog>